<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body class="min-h-full flex flex-col h-screen">
    
    <header class="flex justify-between items-center p-4 container mx-auto">
      <nav class="w-2/5">
        <ul>
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="inline mr-3 {% if entry.url == page.url %}text-blue-400{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
          {%- endfor %}
        </ul>
      </nav>

      <a href="{{ '/' | url }}" class="font-bold text-3xl flex-1 text-center" rel="home">{{ metadata.title }}</a>

      <nav class="w-2/5">
        <ul class="text-right">
          <li class="inline ml-3">Twitter</li>
          <li class="inline ml-3">GitHub</li>
        </ul>
      </nav>
    </header>

    <main{% if templateClass %} class="{{ templateClass }} flex-1"{% endif %}>
      <div class="container mx-auto p-4">
        {{ content | safe }}
      </div>
    </main>

    <footer class="py-8 text-center">
      <p>The best way to learn is to teach.</p>
    </footer>
  </body>
</html>
